.reed{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-reed{
    width: 100vw;
    height: 600px;
    background-image: url(../reeding_house/reeding_img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
}
.reed-text{
    width: 400px;
    height: 600px;
}
.main-text-reed{
    width: 300px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-text-reed p:first-child{
    font-size: 14px;
    letter-spacing: 2px;
    color: #403E3B;
    text-transform: uppercase;
}
.main-text-reed p:last-child{
    font-size: 16px;
    color: #645C55;
}